# Pregunta 1

In [2]:
#pip install pandas

Requirement already satisfied: pandas in c:\users\alumno\anaconda3\lib\site-packages (1.4.2)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy>=1.18.5 in c:\users\alumno\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\alumno\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\alumno\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\alumno\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [19]:
#pip install polars

Collecting polarsNote: you may need to restart the kernel to use updated packages.

  Downloading polars-0.18.6-cp38-abi3-win_amd64.whl (19.8 MB)
Installing collected packages: polars
Successfully installed polars-0.18.6

In [99]:
import polars as pl

df = pl.read_csv('ds_salaries.csv')
df

shape: (607, 12)
┌─────┬─────────┬────────────┬────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│     ┆ work_ye ┆ experience ┆ employment ┆ … ┆ employee_r ┆ remote_rat ┆ company_lo ┆ company_si │
│ --- ┆ ar      ┆ _level     ┆ _type      ┆   ┆ esidence   ┆ io         ┆ cation     ┆ ze         │
│ i64 ┆ ---     ┆ ---        ┆ ---        ┆   ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│     ┆ i64     ┆ str        ┆ str        ┆   ┆ str        ┆ i64        ┆ str        ┆ str        │
╞═════╪═════════╪════════════╪════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 0   ┆ 2020    ┆ MI         ┆ FT         ┆ … ┆ DE         ┆ 0          ┆ DE         ┆ L          │
│ 1   ┆ 2020    ┆ SE         ┆ FT         ┆ … ┆ JP         ┆ 0          ┆ JP         ┆ S          │
│ 2   ┆ 2020    ┆ SE         ┆ FT         ┆ … ┆ GB         ┆ 50         ┆ GB         ┆ M          │
│ 3   ┆ 2020    ┆ MI         ┆ FT         ┆ … ┆ HN         ┆ 0          ┆ HN         ┆ S          │
│ …   ┆ …       ┆ …          ┆ …          ┆ … ┆ …          ┆ …          ┆ …          ┆ …          │
│ 603 ┆ 2022    ┆ SE         ┆ FT         ┆ … ┆ US         ┆ 100        ┆ US         ┆ M          │
│ 604 ┆ 2022    ┆ SE         ┆ FT         ┆ … ┆ US         ┆ 0          ┆ US         ┆ M          │
│ 605 ┆ 2022    ┆ SE         ┆ FT         ┆ … ┆ US         ┆ 100        ┆ US         ┆ M          │
│ 606 ┆ 2022    ┆ MI         ┆ FT         ┆ … ┆ IN         ┆ 100        ┆ US         ┆ L          │
└─────┴─────────┴────────────┴────────────┴───┴────────────┴────────────┴────────────┴────────────┘

a) De acuerdo a cada nivel de experiencia (experience_level) el salario promedio
(salary_in_usd) y varianza.

In [121]:
#df.describe()
df[:,[2,7]].var()

# La varianza del salario promedio es 5.0349e9

shape: (1, 2)
┌──────────────────┬──────────────┐
│ experience_level ┆ count        │
│ ---              ┆ ---          │
│ str              ┆ f64          │
╞══════════════════╪══════════════╡
│ null             ┆ 13358.916667 │
└──────────────────┴──────────────┘

b) Distribución del país de residencia del empleado (employee_residence) ¿cuál es el páis de
residencia más frecuente de los empelados?

In [118]:
df.groupby(by="employee_residence").count().max()
# El pais mas frecuente es VN con 332

shape: (1, 2)
┌────────────────────┬───────┐
│ employee_residence ┆ count │
│ ---                ┆ ---   │
│ str                ┆ u32   │
╞════════════════════╪═══════╡
│ VN                 ┆ 332   │
└────────────────────┴───────┘

c) ¿Qué porcentaje de empleados tuvieron trabajo totalmente remoto (employee_residence)?

d) El rango de los salarios (salary_in_usd) de acuerdo al rol del trabajo (job_title ) desempeñado

In [103]:
df[:,[4,7]].describe()
# el minimo es 3D Computer con un salario minimo de 2859
# el maximo es Staff Data SCIENCE Con un salario maximo de 600000.

shape: (9, 3)
┌────────────┬───────────────────────────────┬───────────────┐
│ describe   ┆ job_title                     ┆ salary_in_usd │
│ ---        ┆ ---                           ┆ ---           │
│ str        ┆ str                           ┆ f64           │
╞════════════╪═══════════════════════════════╪═══════════════╡
│ count      ┆ 607                           ┆ 607.0         │
│ null_count ┆ 0                             ┆ 0.0           │
│ mean       ┆ null                          ┆ 112297.869852 │
│ std        ┆ null                          ┆ 70957.259411  │
│ min        ┆ 3D Computer Vision Researcher ┆ 2859.0        │
│ max        ┆ Staff Data Scientist          ┆ 600000.0      │
│ median     ┆ null                          ┆ 101570.0      │
│ 25%        ┆ null                          ┆ 62726.0       │
│ 75%        ┆ null                          ┆ 150000.0      │
└────────────┴───────────────────────────────┴───────────────┘

# Pregunta 2

In [81]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\alumno\anaconda3\lib\site-packages (4.11.1)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: soupsieve>1.2 in c:\users\alumno\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.1)

In [84]:
from bs4 import BeautifulSoup

URL = ('https://www.ncbi.nlm.nih.gov/protein/?term=caseine')